$block : ".shaw-btn";

#{$block}{
  background: none;
  border:none;
  box-shadow: none;
  &:hover,
  &:focus,
  &:active,
  &:active:focus{
    outline:none;
    box-shadow: none;
    text-decoration: none;
  }

  &-primary {
    display: inline-block;
    padding: 24px 42px 21px;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    color:$color;
    text-transform: uppercase;
    border: 2px solid $color;
    @media screen and (max-width: 992px) {
      padding: 20px;
    }
    &:hover{
      color:$color;
    }
  }

  &-view {
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 0 73px;
    background: $color;
    color: $color3;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 60px;
    transition: margin 0.3s;
    z-index: 2;
    @media screen and (max-width: 768px) {
      position: relative;
      top: 0;
      left: 0;
      display: inline-block;
      margin-top: 20px;
      background: $color13;
    }
    @media screen and (max-width: 600px) {
      width: 100%;
      padding: 0 20px;
      text-align: center;
    }
    &.passed{
      @media screen and (max-width: 700px) {
        margin-top: 50px;
        transition: margin 0.3s;
      }
      @media screen and (max-width: 650px) {
        margin-top: 100px;
      }
      @media screen and (max-width: 550px) {
        margin-top: 150px;
      }
      @media screen and (max-width: 450px) {
        margin-top: 200px;
      }
      @media screen and (max-width: 450px) {
        margin-top: 250px;
      }
    }
    &:hover,
    &:focus{
      text-decoration: none;
      color: $color3;
    }

  }
  &-filter{
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: $color4;
    &.active{
      color: $color2;
    }
  }
  &-send{
    padding: 19px 30px 18px;
    background: $color2;
    color: $color;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
  }
}
