body{
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}


.flexbox{
  display: flex;
}
.align-center{
  align-items: center;
}
.align-end{
  align-items: flex-end;
}
.align-self-stretch{
  align-self: stretch;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.flexwrap{
  flex-wrap: wrap;
}
.justify-end{
  justify-content: flex-end;
}
.nopadding{
  padding: 0;
}
.nomargin{
  margin: 0;
}

.col-xs-0 {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
