$block : ".shaw-form";

input,
textarea{
  &::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; color: $color7; font-size: 14px; line-height: 26px;}
  &::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; color: $color7; font-size: 14px; line-height: 26px;}
  &:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; color: $color7; font-size: 14px; line-height: 26px;}
  &:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; color: $color7; font-size: 14px; line-height: 26px;}
  &:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
  &:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
  &:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
  &:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
}

#{$block}{
  width: 800px;
  margin: 0 auto;
  &#{$block}-fluid{
    width: 100%;
  }
  @media screen and (max-width: 992px) {
    width: 100%;
  }
  &-group{
    margin-bottom: 30px;
    .shaw-form-group{
      margin-bottom: 0;
      @media screen and (max-width: 992px) {
        margin-bottom: 15px;
      }
    }
  }
  &-control{
    width: 100%;
    height: 44px;
    padding:16px 18px 14px;
    background: $color9;
    border: 1px solid $color10;
    font-size: 14px;
    line-height: 26px;
    color: $color4;
    &-textarea{
      height: 170px;
      resize: none;
    }
  }
  &-action{
    padding-top: 10px;
  }
}