// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$facebook-icon-name: 'facebook-icon';
$facebook-icon-x: 0px;
$facebook-icon-y: 0px;
$facebook-icon-offset-x: 0px;
$facebook-icon-offset-y: 0px;
$facebook-icon-width: 32px;
$facebook-icon-height: 32px;
$facebook-icon-total-width: 96px;
$facebook-icon-total-height: 64px;
$facebook-icon-image: '~sprite.png';
$facebook-icon: (0px, 0px, 0px, 0px, 32px, 32px, 96px, 64px, '~sprite.png', 'facebook-icon', );
$google-plus-icon-name: 'google-plus-icon';
$google-plus-icon-x: 32px;
$google-plus-icon-y: 0px;
$google-plus-icon-offset-x: -32px;
$google-plus-icon-offset-y: 0px;
$google-plus-icon-width: 32px;
$google-plus-icon-height: 32px;
$google-plus-icon-total-width: 96px;
$google-plus-icon-total-height: 64px;
$google-plus-icon-image: '~sprite.png';
$google-plus-icon: (32px, 0px, -32px, 0px, 32px, 32px, 96px, 64px, '~sprite.png', 'google-plus-icon', );
$tubler-icon-name: 'tubler-icon';
$tubler-icon-x: 0px;
$tubler-icon-y: 32px;
$tubler-icon-offset-x: 0px;
$tubler-icon-offset-y: -32px;
$tubler-icon-width: 32px;
$tubler-icon-height: 32px;
$tubler-icon-total-width: 96px;
$tubler-icon-total-height: 64px;
$tubler-icon-image: '~sprite.png';
$tubler-icon: (0px, 32px, 0px, -32px, 32px, 32px, 96px, 64px, '~sprite.png', 'tubler-icon', );
$twitter-icon-name: 'twitter-icon';
$twitter-icon-x: 32px;
$twitter-icon-y: 32px;
$twitter-icon-offset-x: -32px;
$twitter-icon-offset-y: -32px;
$twitter-icon-width: 32px;
$twitter-icon-height: 32px;
$twitter-icon-total-width: 96px;
$twitter-icon-total-height: 64px;
$twitter-icon-image: '~sprite.png';
$twitter-icon: (32px, 32px, -32px, -32px, 32px, 32px, 96px, 64px, '~sprite.png', 'twitter-icon', );
$yepl-icon-name: 'yepl-icon';
$yepl-icon-x: 64px;
$yepl-icon-y: 0px;
$yepl-icon-offset-x: -64px;
$yepl-icon-offset-y: 0px;
$yepl-icon-width: 32px;
$yepl-icon-height: 32px;
$yepl-icon-total-width: 96px;
$yepl-icon-total-height: 64px;
$yepl-icon-image: '~sprite.png';
$yepl-icon: (64px, 0px, -64px, 0px, 32px, 32px, 96px, 64px, '~sprite.png', 'yepl-icon', );
$spritesheet-width: 96px;
$spritesheet-height: 64px;
$spritesheet-image: '~sprite.png';
$spritesheet-sprites: ($facebook-icon, $google-plus-icon, $tubler-icon, $twitter-icon, $yepl-icon, );
$spritesheet: (96px, 64px, '~sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
