/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-calendar {
  background-image: url(~sprite.png);
  background-position: 0px 0px;
  width: 1280px;
  height: 4948px;
}
.icon-menu {
  background-image: url(~sprite.png);
  background-position: -2560px 0px;
  width: 1280px;
  height: 4069px;
}
.icon-statements {
  background-image: url(~sprite.png);
  background-position: -1280px 0px;
  width: 1280px;
  height: 4948px;
}
